.Footer-wrap {
    position: absolute;
    text-align: center;
    bottom: 0;
}
.Footer-image {
    width: 100%;
}
.Page-box {
    width: 33%;
    height: 60px;
    border-width: 2px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    opacity: 0;
}
.Clendar-box {
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
}

.Graphs-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Activiy-log-box {
    top: 50%;
    right: 17%;
    transform: translate(50%, -50%);
}