.container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 0px 20px;
}

.item {
  flex: 0 1 calc(20%); /* <-- adjusting for margin */
}

.moodtitle {
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 13px;
	/* identical to box height */
	color: #384D48;
}

.chosen {
	font-weight: bold;
}