.container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.item {
  margin: 4px;
  flex: 0 1 calc(20% - 8px); /* <-- adjusting for margin */
}

.moodtitle {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 13px;
	/* identical to box height */
	color: #384D48;
}